[2018-07-03 09:32] sniper0110 opened #1 "Linking errors after following all the steps"
Hello,

I followed all of the steps that you mentioned in the readMe file, but I am still facing linking errors.
I tried the hello_tf_win_c_api example and I get the follwoing error in visual studio 2017 : <cannot open source file "c_api.h"> and also  : <identifier "TF_Version" is undefined>.

I followed all the steps including adding the path to tensorflow.dll to the PATH environment variable.

I

[2018-07-04 20:54] Neargye commented on #1
Hi,

I have added in readme that tensorflow.dll in the repository is compiled in x64 mode. By default TensorFlow build is x64.

If you have any questions or problems, please let me know.

[2018-07-04 21:34] sniper0110 commented on #1
Thanks for your answer!

In fact I'm trying to make some inference using this API, have you tried anything similar? If yes, then can you share some resources on how to do that? The documentation for the C API is basically non existent!

[2018-07-05 08:39] Neargye commented on #1
I've share a couple of examples of how I use interface like [session_run](https://github.com/Neargye/hello_tf_win_c_api/blob/master/src/session_run.cpp) and [interface](https://github.com/Neargye/hello_tf_win_c_api/blob/master/src/interface.cpp).

You can also see tests tensor flow https://github.com/tensorflow/tensorflow/tree/master/tensorflow/c

[2018-07-08 14:05] #1 closed

[2018-07-20 00:31] betterhalfwzm opened #2 "image prediction"
how to load images and prediction？Thx

[2018-08-08 05:39] Neargye commented on #2
You need to load the image as an array of float, load this array into the input tensor, and run session.

Later I will add an example of a images prediction.

[2018-08-10 11:06] Neargye opened #4 "TF C++ Wrapper"
Add with C++ wrappers over TF functions C API
Status, Graph, Tensor, Session, ...

[2018-09-07 06:43] taotaolin opened #5 "Latest version of tensorflow only be used VisualStudio2017 ？"
The latest version of tensorflow can only be used VisualStudio2017 ？ I am using the VisualStudio2015 hint syntax error

[2018-09-07 07:46] Neargye commented on #5
[Build on appveyor vs2015 pass](https://ci.appveyor.com/project/Neargye/hello-tf-c-api/branch/master)

Are you compiling x64? Could you send a error message?

[2018-09-08 12:01] fq19851220 opened #6 "Is it possible compile tensorflow to a 32-bit dll?"
it is hard work.

[2018-09-10 02:14] taotaolin commented on #5
Now compiled, how to choose to use CPU or GPU？

[2018-09-10 15:22] Neargye commented on #6
It's possible, I'll try to build it later, I'll let you know.

[2018-09-10 15:23] Neargye commented on #6
Different build are required with the support of CPU and GPU. My library is collected with the support of the cpu.

[2018-09-11 14:18] fq19851220 commented on #6
My god!I want to kiss you!

[2018-09-11 17:59] Neargye commented on #5
Different build are required with the support of CPU and GPU. My library is build with the support of the Cpu.

[2018-09-12 01:09] taotaolin commented on #5
I can't successfully build tensorflow for GPU..View official README，Does the DEBUG version require python35d.lib ?

[2018-09-14 05:34] taotaolin commented on #5
Can you try to build a GPU version tensorflow？  i can't compelete it. thx

[2018-09-19 08:29] taotaolin commented on #5
@Neargye Can you provide Python generated code for PB files, my PB file does not work properly.

[2018-10-14 14:33] AhmedX6 opened #7 "learn from images"
Hello,

Would like to pass a dataset of images (PNG images) to tensorflow to make future prediction.
Like for example I have an image of a certain type of flower, I know the name, size etc and I want to create a model of this flower.

How to do that with C++ API ?
Thanks

[2018-10-21 17:49] #4 closed

[2018-10-21 18:59] Neargye commented on #5
@taotaolin i add GPU build https://github.com/Neargye/tensorflow/releases/tag/v1.11.0

[2018-10-21 19:00] Neargye commented on #5
Could you please clarify which code interests you?

[2018-10-21 19:02] Neargye commented on #7
I teach neural networks with python.
Unfortunately I do not know how to teach neural networks with C++.

[2018-10-21 19:02] #7 closed

[2018-10-23 14:56] taotaolin commented on #5
I want to load MNIST graph with the C++ API, but follow the link [http://jackytung8085.blogspot.com/2016/06/loading-tensorflow-graph-with-c-api-by.html](url) method, it was found that the compiler could not be successfully compiled.
I can't understand how to load my MNIST model using methods like `hello_tf_c_api/src/session_run.cpp`.

[2018-10-24 17:44] Neargye commented on #5
https://blog.metaflow.fr/tensorflow-how-to-freeze-a-model-and-serve-it-with-a-python-api-d4f3596b3adc

[2018-10-25 17:07] #5 closed

[2018-10-28 13:07] andrasberes opened #8 "Just a small error-check bug"
https://github.com/Neargye/hello_tf_c_api/blob/ad1c75259c03fc71c538c4e5a3d4248b72cc1aff/src/session_run.cpp#L54

[2018-10-29 04:53] Neargye commented on #8
Thanks for review! I fix this asap.

[2018-10-29 05:58] #8 closed

[2018-11-08 12:31] ppeng opened #9 "Why GPU is slower than CPU"
hello i  tried this project .I have trained a lstm mode and i load the model to predict my data.I find the GPU is slowly than CPU.
gpu:nvidia TITAN X
CUDA：9.0
cudnn:7.0
cpu: intel E5
i predicted about 200 data and every data call the function ：
TF_SessionRun(sess,
			nullptr, // Run options.
			&input_op, &input_tensor, 1, // Input tensors, input tensor values, number of inputs.
			&out_op, &outpu

[2018-11-26 08:49] Neargye commented on #9
I just can not say.
You should measure on your own host, the main thing is to check the speed not by a single start, TF has the property of "warming up".

[2018-11-26 08:49] #9 closed

[2018-12-07 09:43] HackersSpirit opened #10 "Issue in running sample c_api example"
Hello @Neargye :
I have download the pre-built tensorflow lib file from your github link and trying to run the sample program on Windows 10 64-built.
I am getting the following error:
main.obj : error LNK2019: unresolved external symbol __imp_TF_Version referenced in function main
I am running the program using qt creator please find the details:
Pro file(Linking the library and defining the inclu

[2018-12-10 04:47] HackersSpirit commented on #10
No, I did not use cmake I downloaded the following folder: libtensorflow-cpu-windows-x86_64-1.11.0.zip
I have linked all the dll in my pro file.
I will try to run it on visual studio. I  have visual studio 2017 will it work?

[2018-12-10 07:58] Neargye commented on #10
With vs2017 work, run cmake to build project

[2018-12-11 23:44] Neargye commented on #10
@HackersSpirit You can try folow step:
[code]

[2018-12-12 04:40] HackersSpirit commented on #10
@Neargye : Sure will try and let you know.

[2018-12-14 19:47] finger563 commented on #10
@Neargye how did you configure / run the bazel build for generating the `.dll`, `.lib`, `.exp`, and `.def`? I've downloaded the official google release which contains only the `.dll` which I'm unable to properly compile with using vs2017, and I've not been able to figure out how to get bazel to build the windows library files

[2018-12-14 20:08] finger563 commented on #10
Ah nevermind - I figured out why my commands to turn the `.dll` into `.lib` using `dumpbin` and such weren't working - my regex to get just the names was missing some of the names :P

[2018-12-15 08:53] Neargye commented on #10
@finger563 i use dumpbin too.

[2018-12-16 00:52] drakkan opened #11 "graph_info crah"
Hi,

graph_info crashs this way:

[code]

with the model here:

https://github.com/yeephycho/tensorflow-face-detection/tree/master/model

here is the backtrace:

[code]

I would like to run a session with this model, input tensor name is ``image_tensor``, and these are the output tensors

[code]

do you have any suggestions? thanks

[2018-12-16 22:55] Neargye commented on #11
I will check it.

[2018-12-19 10:54] lesley9999 commented on #2
@Neargye. Did you add the images prediction example? Will like to do object detection in c, but there is no docs regarding the c api. Thanx. Or maybe a guide on how to convert https://github.com/lysukhin/tensorflow-object-detection-cpp to c.

[2018-12-21 22:23] #6 closed

[2018-12-21 22:23] #10 closed

[2018-12-21 22:45] Neargye commented on #11
Hi @drakkan, fix this in new master commits

[2018-12-21 22:48] #11 closed

[2019-01-24 09:29] HauerChang opened #12 "Why C api runs much slower than Python ?"
I got the same result in python and c api. But the speed is 10x slower.
What is the difference between them?
thanks

[2019-01-24 17:19] Neargye commented on #12
@HauerChang Python speed 10x slower?

[2019-02-10 14:24] Neargye commented on #12
On my tests, the first TF_SessionRun can work slowly. But next TF_SessionRun work many times faster than python.

[2019-02-10 14:24] #12 closed

[2019-03-01 19:12] ttdd11 opened #13 "Specify device"
Thanks for this it is very helpful. Is it possible to specify a specific device for the graph (ie. gpu:0) as per the c++ api?

[2019-03-01 22:12] Neargye commented on #13
@ttdd11 Hi
Try something like
[code]

[2019-03-02 16:50] #13 closed

[2019-03-04 06:06] tika64208 commented on #2
do you have an example of a image prediction?

[2019-03-19 20:31] ttdd11 commented on #13
@Neargye Okay i tried this. Here is my code:

	TF_Operation* op;
	std::size_t pos = 0;

	while ((op = TF_GraphNextOperation(graph, &pos)) != nullptr) {
		const char* name = TF_OperationName(op);
		QString strName = QString(name);
		TF_OperationDescription* desc = TF_NewOperation(graph, TF_OperationOpType(op), TF_OperationName(op));
		TF_SetDevice(desc, "/gpu:0");

Has no effect of the device being

[2019-04-19 06:35] eiwqueqie opened #14 "TF_INVALID_ARGUMENT"
When I run `session_run.cpp`, it occurs an error "TF_INVALID_ARGUMENT".
What's wrong?

[2019-04-19 07:16] Neargye commented on #14
You change something in example?
On what OS and compiler you run?

[2019-04-19 07:32] eiwqueqie commented on #14
Oh, I see.
I have 2 GPUs, and want to run 2 sessions at the same time.

I added `TF_ImportGraphDefOptionsSetDefaultDevice(opts, "/gpu:1");` before `TF_GraphImportGraphDef(graph, buffer, opts, status);` in `tf_utils.cpp`.

When I delete it, it run correctly. Maybe I need to try more in these cases.
Thank you.

[2019-04-19 07:42] Neargye commented on #14
Try build for gpu from release page https://github.com/Neargye/tensorflow.

[2019-04-19 10:57] eiwqueqie commented on #14
My OS is Windows 10.
I‘m sure it is GPU only lib from this page [Install TensorFlow for C](https://www.tensorflow.org/install/lang_c). And all input tensors are rechecked to confirm their shapes and data types are right.
Finally it is found that only when I specify a device in my own code, it doesn't work.

[2019-04-20 07:44] Neargye commented on #14
Unfortunately, I did not try to run on GPU using this function `TF_ImportGraphDefOptionsSetDefaultDevice`.

[2019-04-23 09:53] LeeDark opened #15 "Create Tensor of strings (vector<char*>) with C API"
How to create Tensor of strings?
Maybe somebody did this task, but I found just for creating Tensor of single string:
[How to create a string type tensor in tensorflow C api?](https://stackoverflow.com/questions/41138822/how-to-create-a-string-type-tensor-in-tensorflow-c-api)
[“Hello TensorFlow!” using the C API](https://stackoverflow.com/questions/44378764/hello-tensorflow-using-the-c-api)

[2019-04-23 10:46] Neargye commented on #15
I will fix api soon, to support string tensor.
Could you help me test this?

[2019-04-23 12:02] #14 closed

[2019-05-03 11:19] LeeDark commented on #15
@Neargye I had wrote some code for creating Tensor of strings.

`
        // std::vector<std::vector<std::string> > batch_tokens
        // just create flat vector of strings
        std::vector<std::string> flat_batch_tokens = FlattenVector(batch_tokens);
        // we have matrix batch_size x max_length
	const std::vector<std::int64_t> flat_batch_tokens_dims = { batch_size, max_length };

[2019-05-04 00:47] wangkuiyi opened #16 "How to generated the graph.pb file"
Hi @Neargye ,

I am curious how did you generate the https://github.com/Neargye/hello_tf_c_api/blob/master/models/graph.pb file?

I tried to call [`tf.saved_model.Builder`](https://www.tensorflow.org/api_docs/python/tf/saved_model/Builder) as in [my sample program](https://github.com/wangkuiyi/tensorflow-go/blob/master/lr.py); it generates `exported_model/saved_model.pb`.  However, when I re-ran y

[2019-05-04 05:19] Neargye commented on #16
Before work with model, needed "freeze" graph. Example: https://blog.metaflow.fr/tensorflow-how-to-freeze-a-model-and-serve-it-with-a-python-api-d4f3596b3adc

[2019-05-06 11:51] chuanraoCV opened #17 "failed work on win10"
Following your steps, win10 did not succeed. There is no symbol file loaded for tensorflow.dll.I put tensorflow.dll in the code directory

[2019-05-06 12:06] Neargye commented on #17
Try build from cmake

[2019-05-06 12:25] chuanraoCV commented on #17
Thank you for your reply.With cmake compilation, it still fails.
[`imge`](![image](https://user-images.githubusercontent.com/32029020/57224762-fe66a800-703c-11e9-8690-5fdb7e4c74b1.png)
)
![image](https://user-images.githubusercontent.com/32029020/57224671-c19ab100-703c-11e9-8ec2-860589d2584a.png)
``

[2019-05-06 12:31] chuanraoCV commented on #17
When the cmake compilation is complete, running **hello_tf.cpp**  will prompt "no symbol file loaded for tensorflow.dll"
![image](https://user-images.githubusercontent.com/32029020/57225080-d592e280-703d-11e9-828f-046f19f29c7f.png)

[2019-05-06 12:40] chuanraoCV commented on #17
Put tesorflow.dll in exe directory, run exe, will prompt
The application could not start properly (0xc0000142). Click ok to close the program.
![image](https://user-images.githubusercontent.com/32029020/57225345-b34d9480-703e-11e9-980b-73de4177702d.png)

[2019-05-06 13:58] Neargye commented on #17
VS2017?

[2019-05-06 16:54] chuanraoCV commented on #17
yes ，win10 64+vs2017

[2019-05-09 18:06] dtczhl opened #18 "C library for Android"
Your repo helps me a lot. I can run Tensorflow models in Ubuntu and Windows now.
My problem is I have a system running Android, how can I generate libtensorflow.so for Android?
Could you give me some instructions?

Thanks

[2019-05-10 12:59] Neargye commented on #18
TFLite is a library more suitable for mobile devices.  maybe you try it for android?

[2019-05-10 15:26] dtczhl commented on #18
Does TFLite use the same API as TF C?
I'm working on a project with a headset that runs Android OS. The SDK of that headset allows me to link to .so libraries. That's why I like to know if there is a similar libtensorflow.so for Android.
If it is convenient for you, could you kindly add TFLite usage to your repo?
It'll help me a lot, and I think other people would also be interested in how to use

[2019-05-10 15:56] Neargye commented on #18
You need use tf in c++? Or in java?

[2019-05-10 15:56] dtczhl commented on #18
In C/C++

[2019-05-10 16:26] Neargye commented on #18
I try add my example.
For now you can try this http://www.sanj.ai/Android-App-With-Tflite-C++-API/

[2019-05-10 16:30] dtczhl commented on #18
Thanks very much. Could you let me know after you add your examples?
Your tutorials are very concise and clear.

[2019-05-10 16:39] Neargye commented on #18
Yes, I update this issues when adding android example

[2019-05-10 16:51] Neargye commented on #17
"Project"->"Properties"->Configuration Properties"->"Linker"->"Additional Dependencies" and add path to your tensorflow.lib as a next line.

Make sure that the tensorflow.dll is in Output Directory (by default, this is Debug\Release under your project's folder) or either in the directory contained by the %PATH% environment variable.

[2019-05-10 16:55] Neargye commented on #16
Add doc how to generated the graph.pb https://github.com/Neargye/hello_tf_c_api/blob/master/doc/prepare_models.md

[2019-05-10 16:57] #16 closed

[2019-05-10 17:06] Neargye commented on #13
Unfortunately, I did not try to run on GPU using this function `TF_ImportGraphDefOptionsSetDefaultDevice`

[2019-05-15 20:38] johnfxgalea opened #19 "32-bit Compilation"
How can I compile for 32-bit please?

[2019-05-16 10:27] Neargye commented on #19
Real need x32 in 2019?
But seriously, there is some problem with the build in x32 mode `error 1002 Fatal Error "compiler is out of heap space"`.

[2019-05-16 10:50] #19 closed

[2019-05-16 16:49] brtndr opened #20 "batch inference"
Hi @Neargye and thank you for all your great examples. I'm trying to achieve batch classification but with very limited success.

I have a graph that can accept an arbitrary number of images as input (tensor dims = {-1, 32, 32, 3}) and let's say that  a patch can be one of five classes. I will call _IM_i_ (with i in [0,4]) the images belonging to those classes.

If I populate the input tensor with

[2019-05-19 11:14] #17 closed

[2019-05-20 08:35] Neargye commented on #20
For example:
input_dimension -> {?, 42}
output_dimension -> {?, 1}

For batch you can try
input_dimension -> {100, 42}
output_dimension -> {100, 1}
and do TF_SessionRun.

[2019-05-20 09:21] Neargye commented on #20
Example batch inference: https://github.com/Neargye/hello_tf_c_api/blob/master/src/batch_interface.cpp

[2019-05-20 09:31] Neargye commented on #20
@brtndr Please look at the examples I hope they will help you.

[2019-05-20 10:19] brtndr commented on #20
It turned out I was casting a pointer to the wrong type. Small code, enormous problems.
Thanks!

[2019-06-01 06:03] hajungong007 opened #21 "how to limit GPU usage in this api?"
I want to set the GPU memory fraction and allow growth options for C.

[2019-06-01 06:11] drakkan commented on #21
you can do this way

[code]

where sessionConfigData is serialized as protobuf

see here for more details

https://github.com/tensorflow/tensorflow/issues/13853

[2019-06-03 17:15] #21 closed

[2019-06-03 21:30] dtczhl commented on #18
Hi. I'm wondering the progress of updating Tensorflow Lite. No rush though.

BTW, your documents (doc/optimizing.md and doc/prepare_models.md) on mobile devices are detailed and very helpful. I appreciate that.

[2019-06-04 04:42] Somdyuti2 opened #22 "How to built with mkl support?"
Is there any way that the we can build the library with mkl support using cmake?

[2019-06-04 09:44] Neargye commented on #22
MKL was added as of TensorFlow 1.2 and currently only works on Linux. It also does not work when also using --config=cuda.

[code]

[2019-06-04 12:20] Neargye commented on #22
only can build tf with mkl for Linux using bazel.

[2019-06-04 16:52] Somdyuti2 commented on #22
I see. Can it at least be built with the supported CPU instructions (AVX, SSE 4.2, FMA) enabled with cmake?

[2019-06-04 17:01] Neargye commented on #22
Y need for win?

[2019-06-04 17:08] Somdyuti2 commented on #22
Maybe also on windows eventually, but even for linux need to deploy an application with TF C API within a package which has a native cmake build system.

[2019-06-04 17:23] Neargye commented on #22
You can also build a TF, the same bazel, and then add it to the package.

[2019-06-08 08:10] scjaiyueliang opened #23 "cmake error Unsupported protocol"Protocol "https""
CMake Error at CMakeLists.txt:40 (message):
  error downloading tensorflow lib: "Unsupported protocol"Protocol "https"
  not supported or disabled in libcurl

hello，I was Confused by this question, but how to solve this problem?Can you help me?

[2019-06-08 09:48] Neargye commented on #23
Hi, cmack try downloads tensorflow lib, but ocurr error, for some reason not available https.
What OS you use?

[2019-06-08 09:54] Neargye commented on #23
This error indicates that your CMake is linked against a libcurl with SSL disabled.

[2019-06-08 09:56] Neargye commented on #23
try this
https://askubuntu.com/questions/683857/curl-1-protocol-https-not-supported-or-disabled-in-libcurl
or
https://www.bountysource.com/issues/31029799-automatic-hunter-download-fails-with-protocol-https-not-supported-or-disabled-in-libcurl

[2019-06-08 09:57] #22 closed

[2019-06-08 10:05] scjaiyueliang commented on #23
my os is ubuntu,  curl -V shows
curl 7.65.1 (x86_64-pc-linux-gnu) libcurl/7.65.1 OpenSSL/1.1.0g zlib/1.2.8
Release-Date: 2019-06-05
Protocols: dict file ftp ftps gopher http https imap imaps pop3 pop3s rtsp smb smbs smtp smtps telnet tftp
Features: AsynchDNS HTTPS-proxy IPv6 Largefile libz NTLM NTLM_WB SSL TLS-SRP UnixSockets

[2019-06-08 10:29] Neargye commented on #23
[CMakeLists.txt](https://github.com/Neargye/hello_tf_c_api/files/3268425/CMakeLists.txt)
please check this cmake.

[2019-06-08 10:29] Neargye commented on #23
what version cmake?

[2019-06-08 16:14] scjaiyueliang commented on #23
my os is ubuntu,  curl -V shows
curl 7.65.1 (x86_64-pc-linux-gnu) libcurl/7.65.1 OpenSSL/1.1.0g zlib/1.2.8
Release-Date: 2019-06-05
Protocols: dict file ftp ftps gopher http https imap imaps pop3 pop3s rtsp smb smbs smtp smtps telnet tftp
Features: AsynchDNS HTTPS-proxy IPv6 Largefile libz NTLM NTLM_WB SSL TLS-SRP UnixSockets

[2019-06-08 16:14] #23 closed

[2019-06-08 16:16] scjaiyueliang commented on #23
The second method works! thanks very much!

[2019-06-08 16:24] scjaiyueliang commented on #23
a new problem comes,
./create_tensor
./create_tensor: symbol lookup error: /home/Desktop/hello_tf_c_api/tensorflow/lib/libtensorflow.so: undefined symbol: _ZN10tensorflow6Device4SyncERKSt8functionIFvRKNS_6StatusEEE
why it ?do you have any ideas?

[2019-06-08 16:29] Neargye commented on #23
What version gcc used?

[2019-06-09 00:48] scjaiyueliang commented on #23
g++ (Ubuntu 5.4.0-6ubuntu1~16.04.11) 5.4.0 20160609
gcc (Ubuntu 5.4.0-6ubuntu1~16.04.11) 5.4.0 20160609
cmake version 3.6.0
now I found when it run this command sudo ./session_run,the result is right. when it run this command  ./session_run,the result is wrong.

[2019-06-09 00:49] scjaiyueliang commented on #23
ldd session_run
	linux-vdso.so.1 =>  (0x00007ffc67913000)
	libtensorflow.so => /home/196/Desktop/work/hello_tf_c_api/tensorflow/lib/libtensorflow.so (0x00007f4ef2201000)
	libstdc++.so.6 => /usr/lib/x86_64-linux-gnu/libstdc++.so.6 (0x00007f4ef1e7f000)
	libgcc_s.so.1 => /lib/x86_64-linux-gnu/libgcc_s.so.1 (0x00007f4ef1c69000)
	libc.so.6 => /lib/x86_64-linux-gnu/libc.so.6 (0x00007f4ef189f000)
	libten

[2019-06-09 00:51] scjaiyueliang commented on #23
ldd create_tensor
	linux-vdso.so.1 =>  (0x00007ffff30cc000)
	libtensorflow.so => /home/196/Desktop/work/hello_tf_c_api/tensorflow/lib/libtensorflow.so (0x00007f17ff349000)
	libstdc++.so.6 => /usr/lib/x86_64-linux-gnu/libstdc++.so.6 (0x00007f17fefc7000)
	libgcc_s.so.1 => /lib/x86_64-linux-gnu/libgcc_s.so.1 (0x00007f17fedb1000)
	libc.so.6 => /lib/x86_64-linux-gnu/libc.so.6 (0x00007f17fe9e7000)
	libt

[2019-06-15 18:32] Romit-Maulik opened #24 "Running target operation for training in C++"
Hello! Before I proceed - I would like to thank you for this excellent repository. I have managed to set up an inference ecosystem in C++ with far less pain than I imagined. I am currently attempting to run a very simple training operation in C++ and was having some trouble.

I started by looking at the function definition of `TF_SessionRun()` which is
[code]
Accordingly I devised the following co

[2019-06-16 17:33] Neargye commented on #24
Try this

[code]

[2019-06-16 17:35] Neargye commented on #24
TF_SessionRun takes an array of target, so the type const TF_Operation* const*.

[2019-06-17 02:46] Romit-Maulik commented on #24
Hi Neargye - thanks! I managed to fix the issue by doing the following:
[code]
which I suspect allowed a safe cast.

While I have you here - I was trying to use the above code to train an unfrozen graph in C++ (I had defined the graph through the tensorflow python API). However, I noticed that unfrozen graphs cannot be used for any sort of output- (for instance to print the loss). Have you had any

[2019-06-17 05:02] Neargye commented on #24
Unfortunately, I did not work with ungrozen graph.  I usually use python to train, and use on c ++ then to run.

[2019-06-17 15:05] Romit-Maulik commented on #24
I see - thanks! That's what I started out with and am now toying with the idea of moving more functionality into C++.

PS - I found a stackoverflow [answer](https://stackoverflow.com/questions/37508771/how-to-save-and-restore-a-tensorflow-graph-and-its-state-in-c/37671613#37671613) that details (a bit about how one may save a graph to a checkpoint in C++) - I'll look into it.

[2019-06-21 15:45] Xonxt commented on #2
Tried to do it today, but it crashes at the "RunSession" bit.

Here's the code:
[code]

And it crashes after the last line.

[2019-06-21 16:13] Neargye commented on #2
Hi @Xonxt, thanks for your reply. Could you please fix the code in a comment?

Can I also add an example to the repository based on your code? To be honest, I work quite a bit with pictures, so it was not so easy for me to make my own example. I mainly work with time series analyzes.

[2019-06-21 16:25] Xonxt commented on #2
hi, @Neargye.
I mean... you can, but I'd only tested that it runs and doesn't crash, I haven't tested what the result of the prediction looks like.

[2019-06-24 15:15] Xonxt commented on #21
Sorry for reopening this, but I was just struggling with it, and found a somewhat 'automated' solution.

To limit GPU usage in Python, I would write the following.

[code]

We can now serialize this, and see what Tensorflow expects to get. In my case I get:
[code]

After reverse-engineering this for a bit, I get the following: we need a byte-array of 15 elements, the first three are `'0x32', '0xb'

[2019-06-24 15:44] Neargye commented on #21
@Xonxt Thanks, it looks very useful.

[2019-06-28 08:44] wangxuesong29 opened #25 "win10 vs2019 tensorflow.dll not found"
**Hi. I had run this in my mac and windows.**

**For mac, it can work. But for windows, it complains about "tensorflow.dll not found" when I try to execute the built hello_tf.exe.**

The German is "The code cannot be run because tensorflow.dll cannot be found".

![image](https://user-images.githubusercontent.com/14146871/60329769-51037700-9991-11e9-98a8-c4caa03a8b0b.png)

![image](https://user-ima

[2019-06-28 08:55] wangxuesong29 commented on #25
I have found out that it might happen that `C:\Users\wang\Downloads\hello_tf_c_api-master\build\Debug`  and `C:\Users\wang\Downloads\hello_tf_c_api-master\build` lack ·tensorflow.dll·.

It is mentioned by @Neargye [here](https://github.com/Neargye/hello_tf_c_api/issues/17).
Copy and paste `tensorflow.dll` into both folders.

Now the problems solved and new problems are comming TT.

[2019-06-28 09:51] Neargye commented on #25
Hi
First, try run

[code]

[2019-06-30 20:18] dtczhl commented on #18
Hi. I can run TF Lite C++ in Android now, but your tutorials are still welcome.
BTW, are you able to run batch inputs in TF Lite?
For example, a model takes an input-length of 10. I can use Tensorflow C to feed 50 numbers, which runs 5 times of the model with a single function call (which is much faster than manually running the model 5 times).
I see TFLite Interpreter has a function called Resize

[2019-07-01 09:01] Neargye commented on #18
Hi, check this batch example https://github.com/Neargye/hello_tf_c_api/blob/master/src/batch_interface.cpp

[2019-07-01 12:42] dtczhl commented on #18
It works, but it is for Tensorflow C. Do you have examples for TF Lite?
Thanks.

[2019-07-01 13:20] Neargye commented on #18
Try something like https://stackoverflow.com/questions/51576944/tensorflow-lite-for-variable-sized-input

[2019-07-02 02:37] dtczhl commented on #18
I tried that before. However, my program crashes whenever I call
[code]
even I use the exact dimensions without using batches.
For example, my model takes input of dimensions 1, 100, 9
I tried to run
[code]
it crashes. However, if I just call
[code]
then everything works fine. Not sure what goes wrong.

[2019-07-02 07:22] #25 closed

[2019-07-02 14:41] dtczhl commented on #18
I changed Tensorflow Lite version to 2.0, which allows me to run
[code]
Basically, nothing is changed because I just call ResizeInputTensor with original/default dimensinos.

However, I cannot change to other dimensions. This is still an open issue here
https://github.com/tensorflow/tensorflow/issues/22377
It seems that Android Tensorflow Lite does not support it.

[2019-07-02 15:26] Neargye commented on #18
could you please send project example, I will try myself

[2019-07-02 15:43] wangxuesong29 opened #26 "how to compile tensorflow.dll"
Hi.
I am not sure if I am asking a silly question: how can I compile the tensorflow source into a dll?

I googled for a whole and I tried:

System:
- Python: python 3.7
- Compiler:  Visual Studio 2019
- Tensorflow: r1.6 and r1.13

[code]

Then, I build
[code]

There are errors. I have no clues about where to start to fix.

[2019-07-02 16:20] Neargye commented on #26
Hi, I usually do this guide https://www.tensorflow.org/install/source_windows
This week I am not with my working machine, so I can’t check it myself.

[2019-07-02 17:45] dtczhl commented on #18
I attach my sample project below. Thanks.
[sample project](https://www.huanlezhang.com/DataDisk/sample.zip)

[2019-07-03 07:44] wangxuesong29 opened #27 "unresolved external symbol "struct TF_Graph *"
Hi.

I have posted several questions, sorry for that. I am trying to solve them by myself.

After I can build the code, I created a new cpp file (simply copy-paste hello_tf.cpp):

[code]
It complains about `segnet.obj : error LNK2019: unresolved external symbol "struct TF_Graph * __cdecl tf_utils::LoadGraph(char const *)"`
![image](https://user-images.githubusercontent.com/14146871/60572942-f3976d

[2019-07-03 08:03] wangxuesong29 commented on #27
Surely, it is a silly question.
I never used CMake before, last time I used C++ was 8 years ago.

As `tf_utils.hpp` will be used to load graph (see `tf_utils::LoadGraph`). So I have to clarify in `CMakelists.txt`:

[code]

Hope this can help some fresh people avoid this pitfall(sorry for being silly this time).

[2019-07-03 08:04] #27 closed

[2019-07-03 11:34] duocang opened #28 "read checkpoint instead of pb file"
I know I can freeze the checkpoint and get pb model. But there is a possibility the frozen procure can be wrong (I read in somewhere else).

The case I have is I trained a model in python-tf, I froze it into .pb.  It is not able to be loaded by `TF_GraphImportGraphDef(graph, buffer, opts, status)`. No error message, and the model visualized by `netron` looks ok for me.  I prepared the model in One

[2019-07-04 19:49] wangxuesong29 commented on #21
@hajungong007 I got some questions, do you maybe have time to hlep？wangxuesong29@gmail.com

[2019-07-05 11:27] wangxuesong29 opened #29 "what's the relation between c++ client session and c_api TF_Session and core/public/session in tensorflow source code?"
This is a question mentioned in [stackoverflow](https://stackoverflow.com/questions/44714056/whats-the-relation-between-c-client-session-and-c-api-tf-session-and-core-pub?rq=1).

I am also confused, when people use `Session* session`, while `TF_session* session ` is used here.

The question comes to here: why do we need a tensorflow.dll

[code]

[2019-07-05 14:07] Neargye commented on #29
Hi, I do not quite understand the question.

1. `why do we need a tensorflow.dll` - tensorflow.dll way to use C API without the need to build TF, as well as have a single cross-platform interface.
I also do not urge to use C API, if you prefer to use any other API, better use it.
For internal reasons at work, it was convenient to use the С API, later I made this repository purely, for example, may

[2019-07-05 15:02] Neargye commented on #28
I found how read checkpoint in C API.
Will add example soon.

[2019-07-05 15:04] wangxuesong29 commented on #28
@Neargye Dude, you are gonna save my ass. If you come to Berlin, beer on me.

[2019-07-06 13:07] Neargye commented on #28
Hi, i add read checkpoint. Could you please test new function `TF_Graph* LoadGraph(const char* graph_path, const char* checkpoint_prefix)`?

[2019-07-06 13:26] Neargye commented on #26
Hi, How are you doing?

[2019-07-06 13:26] Neargye commented on #29
Do you have any additional questions?

[2019-07-06 19:39] Neargye commented on #18
Hi, I do some test, it seems you are right, Android Tensorflow Lite does not support it.

[2019-07-07 08:21] wangxuesong29 commented on #28
@Neargye  I am going to do it today.

[2019-07-07 10:02] wangxuesong29 commented on #29
@Neargye  I am searing more information, but I can shutdown this for now.

[2019-07-07 10:02] #29 closed

[2019-07-07 10:10] wangxuesong29 commented on #26
I tried `python3.7 `+ `tf 1.13` with `cmake` + `vs 2017` + `cuda10.0` + `cudnn 7`, it doesn't work. The same for `bazel`. I guess it could be the cuda10.0's problem.

I am a bit frustrated to re-install cuda so I stop trying further.

[tensorflow-windows-build-script](https://github.com/guikarist/tensorflow-windows-build-script) has a successful example, I am giving the last shot.

[2019-07-07 10:13] Neargye commented on #26
For win-gpu ypu can try https://github.com/Neargye/tensorflow/releases/download/v1.14.0/libtensorflow-gpu-windows-x86_64-1.14.0.zip

[2019-07-07 14:20] dtczhl commented on #18
Thanks. BTW, do you know if it works in iOS? I'm just curious about that.

[2019-07-07 14:45] Neargye commented on #18
Hm, I can check tomorrow in iOS.

[2019-07-08 12:31] dtczhl commented on #18
Thank you. Please let me know after you check it.

[2019-07-11 12:40] Neargye commented on #18
I could not do it on iOS.

[2019-07-11 13:05] dtczhl commented on #18
Thanks.

[2019-07-23 20:09] Dinl opened #30 "GetTensorsData function error"
Hi, I have just loaded a model trained in TensorFlow python, after run the session for a given input some problems happen:

1. If this function is used, good results are obtained BUT after some iterations the output size is not the same (should be 256 and I get error getting data[128])
`const auto data = static_cast<float*>(TF_TensorData(output_tensor));`

the output is:
`0, 0, 0, 0, 0, 0, 0, 0, 0

[2019-07-23 20:37] Neargye commented on #30
This is strange, GetTensorsData using inside TF_TensorData
[code]

[2019-07-23 20:42] Dinl commented on #30
Sorry, my fault, in the testing the pb filename was changed and I thought that network has 256 output size.
Closing the issue.

[2019-07-23 20:42] #30 closed

[2019-07-23 20:44] Neargye commented on #30
In any case, thank you.
I noticed how to improve the GetTensorsData.
I fixed a possible error in the new commit.

[2019-07-23 20:45] Neargye commented on #30
Improving `GetTensorData`
[code]

[2019-08-01 06:24] VladislavAD opened #31 "Build instructions for VS 2017-2019"
Hi, I want to test code in VS 2017 and get compile errors. I tried to copy all code to new VS project and add session_run.cpp to it sources, also I add c_api.h tensorflow.lib folders to project paths and copy tensorflow.dll to exeecution path, but have error
`C2065	TF_TensorElementCount: undeclared identifier	NeargyeTest	...\neargyetest\neargyetest\tf_utils.hpp	94	`
Can you provide more detailed g

[2019-08-01 06:31] Neargye commented on #31
Try cmake, it's creat vs proj.
[code]

[2019-08-01 07:20] Neargye commented on #31
also check
https://github.com/Neargye/hello_tf_c_api/issues/25
https://github.com/Neargye/hello_tf_c_api/issues/17

[2019-08-01 11:53] VladislavAD commented on #31
Thanks! I successfully compiled and ran your code. It's working! I hardly can find differences with my code that leaks memory every TF_SessionRun and I don't find you initialize graphdef with TF_GraphImportGraphDef, I find this in other c_api examples, seems like this is unnecessary for prediction?

[2019-08-01 12:53] Neargye commented on #31
Leaks can be by many options, need check code line by line.

[2019-08-01 12:53] Neargye commented on #31
Checnk tf_utils files, it's wrapper on tf c api.

[2019-08-01 14:39] VladislavAD commented on #31
Yes, this is what I did when find this repo but find no big difference. The only thing is TF_GraphImportGraphDef that was in original code snippet I find and now I blame this method for memory leak. If you are interested in my code, I have posted [question about memory leak](https://stackoverflow.com/questions/57255656/tensorflow-1-14-0-c-api-tf-sessionrun-memory-leak) on stackoverflow.

[2019-08-09 07:17] #31 closed

[2019-08-25 23:09] fullprocess commented on #24
What is target operations? I thought that the session (which contains the graph) included all operations. Why would TF_SessionRun take the session as the first argument AS WELL AS a list of all the target operations?

[2019-08-25 23:34] Romit-Maulik commented on #24
The target operations here correspond to those you want to run during the session on the _unfrozen_ graph. In the previous snippet they were those related to optimization of the graph. This gist has all the code you'll need to understand this!

https://gist.github.com/asimshankar/7c9f8a9b04323e93bb217109da8c7ad2

[2019-08-26 00:44] fullprocess commented on #24
Thanks Romit! So if I understand correctly, if you want to include all graph operations you leave Target ops as NULL? I am using a frozen graph of Deeplab pre-trained on the Cityscapes dataset, so I believe it is fully optimized and ready to predict.

[2019-08-26 02:51] Romit-Maulik commented on #24
Yup! So for a pretrained and frozen graph you would use something like
[code]

[2019-09-10 13:53] #18 closed

[2019-09-10 13:53] #26 closed

[2019-09-13 22:33] peardox opened #32 "Memory leak?"
In load_graph shouldn't there be a TF_DeleteStatus(status) at about line 90?

I'm debugging my own (Pascal) code which is based on yours so want to keep everything balanced

It _looks_ like I need a TF_DeleteStatus but as you didn't do it I'm not sure

[2019-09-14 06:39] Neargye commented on #32
Yes, you need call `TF_DeleteGraph(graph);` and `TF_DeleteStatus(status);` when not need this.
I use `SCOPE_EXIT{ TF_DeleteStatus(status); };` to auto delete status on scope exit, for more detail check https://github.com/Neargye/scope_guard.

[2019-09-14 07:16] peardox commented on #32
Ahh, I have got it right then

Didn't know what SCOPE_GUARD did...

Thanks

[2019-09-14 07:16] #32 closed

[2019-09-20 13:01] extra159 opened #33 "How to use text file as a input of frozen graph?"
hi,

I wanted to read a text file as an input for a frozen graph. My input data size is (160,140) that means text file has 160 rows and 140 columns. I don't know how can I use it in this function const **std::vector<float> input_vals = {	}**

[2019-09-20 13:05] Neargye commented on #33
See https://github.com/Neargye/hello_tf_c_api/issues/15

[2019-09-23 05:48] pango99 opened #34 "How to set session option?"
Hi,how to set the session options using tensorflow c api? for example, how to set the gpu_memory_fraction? how to set the gpu number my program use?

[2019-09-23 11:35] Neargye commented on #34
For RF 1.14.0 use TF_CreateConfig from c_api_experimental.h
[code]
and set this config use TF_SetConfig from c_api.h
[code]

[2019-09-24 09:38] #33 closed

[2019-09-30 07:59] pango99 commented on #34
thanks, so how to set the "gpuMemFraction" param with TF_CreateConfig()? what's  meaning of "enable_xla_compilation" param? I use tf-c-api only for inference,so can I set it to zero?

[2019-09-30 10:47] Neargye commented on #34
Maybe @Xonxt could help.

[2019-09-30 10:54] Xonxt commented on #34
@pango99
hi. For choosing a specific GPU in Tensorflow there exists a global solution: you just have to create an environment variable `CUDA_VISIBLE_DEVICES` and list the numbers (id's) of the GPU you want your Tensorflow to use. For example, if you have three GPUs, but you only want to use the first one and the third one, you set: `CUDA_VISIBLE_DEVICES=0,2`. In your case, if you have two, but you

[2019-09-30 16:36] pango99 commented on #34
@Xonxt
OK,I'll try it few days later,thank you!

[2019-11-06 04:36] jackyko1991 opened #35 "Windows GPU library"
From the CMakeLists.txt file I found that the library only provides CPU C API

Do you have the GPU version of windows C API library?

[2019-11-06 13:33] Neargye commented on #35
Check https://github.com/Neargye/tensorflow/releases

[2019-11-12 11:01] GaryFigno opened #36 "Error when Using Tensorflow-1.13.1-gpu lib."
Thanks for your work on TF c api.
When I was trying to compile your work on Ubuntu18.04 and g++ with the Tensorflow 1.13.1-gpu library, error occurred.
The error information is as follow:
tf_utils.hpp:94:24: error: there are no arguments to ‘TF_TensorElementCount’ that depend on a template parameter, so a declaration of ‘TF_TensorElementCount’ must be available.
So I guess the tf_utils is using so

[2019-11-12 11:18] Neargye commented on #36
Fix in master. Test on 1.3.1 work ok.

[2019-11-12 11:23] GaryFigno commented on #36
Thank you very much. Successfully compiled and ran.

[2019-11-12 11:23] #36 closed

[2019-11-19 09:36] msnh2012 commented on #34
How to set "
`sess = tf.Session(
config= tf.ConfigProto(inter_op_parallelism_threads=1,
                        intra_op_parallelism_threads=1))`"
Thx a lot!
@Neargye
@Xonxt

[2019-11-20 12:26] hajungong007 commented on #21
// GPU=70%
 uint8_t config[11] = {0x32, 0x09, 0x09, 0x66, 0x66, 0x66, 0x66, 0x66, 0x66, 0xe6, 0x3f};
 TF_SetConfig(options.get(), (void*)config, 11, status.get());

// GPU = 75%
 uint8_t config[11] = {0x32, 0x09, 0x09, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0xe8, 0x3f};
 TF_SetConfig(options.get(), (void*)config, 11, status.get());

// GPU = 80%
 uint8_t config[11] = {0x32, 0x09, 0x09, 0x9a, 0x99, 0x

[2019-11-20 12:33] wangxuesong29 commented on #21
@ I do not really what you mean here.

[2019-11-20 12:45] hajungong007 commented on #21
I am sorry, it's my code.

[2019-12-07 12:50] Neargye commented on #34
@msnh2012
[code]

[2019-12-20 10:02] ivafanas opened #37 "incorrect check in GetTensorData"
Should be `||` instead of `&&` here:
https://github.com/Neargye/hello_tf_c_api/blob/48ecd5fa160f75c7b4c2e0a7807bf6f4d9db9bac/src/tf_utils.hpp#L95

Nice project, thanks!

[2019-12-20 10:12] Neargye commented on #37
Oh, thanks for review!

[2019-12-20 10:58] #37 closed

[2019-12-30 12:15] yangjituan opened #38 "how to set TF_Operation(target_opers) in TF_SessionRun;"
hi , I am confused about TF_SessionRun and how to set target_opers and ntargets
would you like to tell me how to set it?

[2019-12-30 12:22] Neargye commented on #38
Hi, check https://github.com/Neargye/hello_tf_c_api/issues/24

[2019-12-30 13:36] yangjituan commented on #38
Thanks very much!
i defined the graph through the tensorflow python API and turn it to pb model;
but now , i can't use c++ to train my model (the "cost"  is no change) as the following code:
TF_SessionRun(m_session, nullptr,
			&m_inputs[0], &input_values[0], input_values.size();
			&m_outputs[0], &output_values[0], output_values.size(),
			operations.data(), operations.size(), nullptr, m_status);

[2019-12-30 20:10] Romit-Maulik opened #39 "Memory leak during inference with frozen graph"
Hi Neargye!

Thanks once again for all the help on my previous issue - I've made some pretty neat progress on using the C API for interesting problems. However, as I try to scale up inference on larger codes - I am running into some pretty troubling issues when it comes to memory leaks. Let me try and explain it through a minimum working example. In the following, I have a simple fully connected n

[2019-12-31 05:50] yangjituan commented on #24
Hi ,
i want to do gradient descent  in tensorflow-C_api ,but can't find any example tell me how to code,
such as :
      how to set and initialize a variable  ?
      how to set optimizer and train?
@Romit-Maulik @Neargye Thanks for your attention and  hope to receive your reply.

[2019-12-31 09:28] Neargye commented on #38
@yangjituan you can also check https://gist.github.com/asimshankar/7c9f8a9b04323e93bb217109da8c7ad2.

[2019-12-31 09:28] Neargye commented on #24
@yangjituan you can also check https://gist.github.com/asimshankar/7c9f8a9b04323e93bb217109da8c7ad2.

[2019-12-31 09:45] Neargye commented on #39
Hi @Romit-Maulik, could you please check https://github.com/Neargye/hello_tf_c_api/commit/5fdf6993f27c5f6e4721af865efdf10b9219b7ce?

[2019-12-31 20:27] Romit-Maulik commented on #39
Hi @Neargye - I added the scope guard and delete tensor command to the code and get the following Valgrind summary

[code]

whereas previously I had

[code]

So that definitely helped.  Any insights into the why we have the 6390 errors?

[2019-12-31 21:46] Neargye commented on #39
I will check later.

[2019-12-31 22:40] Romit-Maulik commented on #39
Thanks! Appreciate all the help.

[2020-01-03 04:20] apivovarov opened #40 "session_run hangs on GPU (libtensorflow-gpu)"
aws p3.2xlarge
Ubuntu 18.04
apt install cuda-10-0 libcudnn7
NVRM version: NVIDIA UNIX x86_64 Kernel Module  440.33.01  Wed Nov 13 00:00:22 UTC 2019
GCC version:  gcc version 7.4.0 (Ubuntu 7.4.0-1ubuntu1~18.04.1)

I use [libtensorflow-gpu](https://github.com/Neargye/tensorflow/releases/download/v1.15.0/libtensorflow-gpu-linux-x86_64-1.15.0.tar.gz) downloaded from releases/download/v1.15.0

I tried

[2020-01-03 17:08] Neargye commented on #40
Could you please try this function?https://github.com/Neargye/hello_tf_c_api/blob/93a048ef7d67b77ce2cdba6c386c64d336490871/src/tf_utils.hpp#L117

[2020-01-04 00:05] apivovarov commented on #40
I tried to replace
[code]
with
[code]
in `src/session_run.cpp`

I also tried other values - 0.95, 0.85, 0.65 and 0.55.

I did not help. `./session_run` hangs.

[2020-01-04 02:50] apivovarov commented on #40
I built libtensorflow.so with CUDA 10.0 and compute capability 70 from sources. `./session_run` works now!

[2020-01-04 02:50] #40 closed

[2020-01-04 10:39] Neargye commented on #40
Thank you for sharing the solution and the assembled library!

[2020-02-17 14:26] Xonxt commented on #20
Sorry for reopening this again.

You might remember, I figured out the image inference some time ago with this code, and now I also needed to do batch inference. It isn't working properly, and your example doesn't help.

Here's my code (shortened and simplified version):

[code]

and then run it and show it in the console:

[code]

But it only prints out the 10 numbers, as if there was only one in

[2020-02-18 07:23] apivovarov commented on #39
@Neargye I need to execute `TF_SessionRun` in loop.
I noticed that each time I call `TF_SessionRun` it creates (allocates) new OutputTensor.
As a result the programm leaks GPU memory quite fast.
I "solved" the problem by deleting OutputTensor before calling `TF_SessionRun`.
Is there any Run or Session Option which allows to reuse OutputTensor instead of automatically create new OutputTensor each t

[2020-02-18 09:25] Neargye commented on #39
Hi @apivovarov, could you give an example of your code?

To reduce the number of allocations, you can use the following example
[code]

[2020-02-18 20:50] apivovarov commented on #39
@Neargye  example of my code https://github.com/apivovarov/TF_C_API/blob/master/mobilenet.c

To stop GPU memory leak I need to uncomment line 62

[2020-02-19 06:33] apivovarov commented on #34
@msnh2012 @Neargye to get `proto` parameter for `TF_SetConfig` we can use `tensorflow/core/protobuf/config.pb.h`
The implementation is included to `libtensorflow.so`

Core example https://github.com/apivovarov/TF_C_API/blob/master/config.cc

build command:
[code]
TF_SetConfig API:
https://github.com/tensorflow/tensorflow/blob/r1.15/tensorflow/c/c_api.h#L147

[2020-02-19 08:33] Neargye commented on #39
@apivovarov could you try change line 42 to
[code]

[2020-02-20 00:38] apivovarov commented on #39
I tried that - this Tensor is replaced with new on the first run.

I found that GPU memory leak issue can be reproduces only on models with large output shapes.
For example style transformation models return transformed image. So, output shape is equal to input shape. e.g. (1,480,640,3)

I prepared simple test model which very quickly crashes test program on GPU if you run it in loop without `TF_D

[2020-02-20 02:31] Arnold1 opened #41 "question about this library"
hi,

what is the difference between this library and the official tf library https://www.tensorflow.org/install/lang_c?

it seems your library can also load a tensorflow model file - and run the scoring? how fast is it - do you have any benchmarks?

Thanks.

[2020-02-20 05:50] Neargye commented on #41
Hi,

It's example how to run TensorFlow lib C API on Windows, Linux and macOS(Darwin).

So it's the same fast as official lib.
I only add some wrapper and example for more comfortable work with tf c-api.

[2020-02-21 02:37] Arnold1 commented on #41
so it also uses the libtensorflow from here https://www.tensorflow.org/install/lang_c ?

[2020-02-21 08:11] Neargye commented on #41
Yes.

No docker container.

I do not know, in this project only examples of native use TF.

[2020-02-21 11:15] Xonxt commented on #20
**UPDATE:**
yeah, ok, sorry, it seems I've been using the wrong output layer name. I needed the last layer, but I was giving the second last instead.

It works ok now. You can close the issue back.

[2020-02-21 12:54] Neargye commented on #20
Ok, thanks for update!

[2020-02-21 12:54] #20 closed

[2020-02-22 19:20] #41 closed

[2020-02-29 15:08] #35 closed

[2020-02-29 15:09] #38 closed

[2020-03-03 01:53] joytsay opened #42 "how to turn off verbose and idle threads?"
hi, we are using this for the NIST frvt submission and have the following issues:
1. Need to run on single thread (Tensorflow spins-up multi-threads according to CPU number)
2. Need to turn off all debugging message (i.e.to run quietly, it should not write messages to “standard output”)

for issue 1. we already tried:
 std::array<std::uint8_t, 13> config = {{ 0x0a ,0x07, 0x0a, 0x03, 0x43, 0x50, 0x

[2020-03-05 02:33] ardeal opened #43 "GPU dll"
Hi,

Do you have GPU version dll?
where could I download it?
do you have example code to run GPU session?

Thanks,

[2020-03-05 09:05] Neargye commented on #43
Hi @ardeal,

Check https://github.com/apivovarov/TF_C_API
https://github.com/Neargye/hello_tf_c_api/issues/40
https://github.com/Neargye/tensorflow/releases for gpu dll

[2020-03-06 01:03] ardeal commented on #43
Hi Neargye,

Thanks for your reply!

I paste part of the code from https://github.com/apivovarov/TF_C_API as follows:

Does the following code config the GPU?
is there any explanation about the digits in the code?
[code]

One more question?
I saw the following code. The code might be based on Tensorflow C++ dll, right?
Where is tensorflow C++ dll downloading URL?

[code]

[code]

Thanks,

[2020-03-06 03:06] ardeal commented on #43
Hi Neargye,

I am using VS2017, 2080Ti, CUDA10.1 on Windows 10.
I tried to run you code interface.cpp.
If I use CPU version dll, the code could be run correctly. now I am trying to run the code on GPU.

I switched to GPU version dll, and modified CreateSession function as follows.

I got the error message.

[code]

[code]

Thanks,

[2020-03-06 15:35] Xonxt commented on #43
@ardeal hi,

I think I can answer this question, if you don't mind, because I was basically the one who came up with the solution. See this [issue](https://github.com/Neargye/hello_tf_c_api/issues/21#issuecomment-505055121).

I might be wrong, but I think the Tensorflow guys do not make it available for download at the moment, you have to compile from source code yourself.

just a hunch, but have

[2020-03-09 01:45] ardeal commented on #43
@Xonxt and @Neargye,

hi,

Many thanks for your answer!
I will try your GPU configuration code.

For the CUDA dirvers and etc., I would like to make the whole thing clear as follows:
1) I have a trained weights model of deep learning neural network. The model could be correctly run on my computer on Python with GPU driver, CUDA, and cudnn.
2) I would like to run the model  with C++ on VS on window

[2020-03-11 07:44] ardeal opened #45 "cuda_driver.cc:175] Check failed"
hi,

My environment is:
Windows 10, VS2017, GPU 2080Ti, Driver Version: 442.50, CUDA Version: cuda_10.1.243_426.00_win10, cudnn-10.1-windows10-x64-v7.6.3.30.

1)  I have a trained weights model of deep learning neural network. The model could be correctly run on my computer on tensorflow-gpu 1.14.0 with GPU driver, CUDA, and cudnn.
2) On the same computer. I could run model correctly on CPU with C

[2020-05-07 12:55] AvalonChang opened #46 "How to create Tensor of TF_BOOL?"
I want to create a Tensor of 1-dimensional boolean type
I tried
`
const std::vector<std::int64_t> bool_dims = { 1 };
std::vector<bool> bool_vals(1);
bool_vals[0] = false;

std::vector<TF_Tensor*> input_tensors = { CreateTensor(TF_BOOL, bool_dims, bool_vals) }
`
Unfortunately, I found std::vector<bool> nonsupport data member function
[http://www.cplusplus.com/reference/vector/vector-bool/](url)

So

[2020-05-08 07:15] Neargye commented on #46
Hi,
Try vector<uint8_t>, I think it can help.

[2020-05-08 09:13] AvalonChang commented on #46
Hi Neargye

I tried vector<uint8_t>, and get a Tensor successful
but TF_Code is still as TF_INVALID_ARGUMENT when TF_SessionRun.

I believe vector<uint8_t> and vector<bool> is equivalent in this case
so I will check other parts.

Thanks for your help

[2020-05-08 18:39] #46 closed

[2020-05-11 10:44] #34 closed

[2020-05-20 10:54] AvalonChang opened #47 "TF_INVALID_ARGUMENT"
Same as this issue [https://github.com/Neargye/hello_tf_c_api/issues/46](url)
I got TF_INVALID_ARGUMENT when TF_SessionRun
I still no found any solution can solve it.

My OS is Windows 10, use VS 2017.
I base on src/session_run.cpp modify for my need as below

It's used FaceNet model, It has two input operation
1. input : dimensional is 1 * 160 * 160 * 3, float type
2. phase_train : dimensional is

[2020-05-20 21:46] rounakskm opened #48 "Inference is running very slow on CPU"
`
// Load graph
auto graph = tf_utils::LoadGraph("C:\\Users\\Soumya Mohanty\\Documents\\Dev\\TensorflowApplication\\frozen_inference_graph_10K_Steps.pb");

SCOPE_EXIT{ tf_utils::DeleteGraph(graph); };
	if (graph == nullptr) {
		//std::cout << "Can't load graph" << std::endl;
	}
	else {
		//std::cout << "Graph loaded successfully" << std::endl;
	}

	// Setup session to run inference
	auto session =

[2020-06-17 13:00] VladislavAD opened #49 "Multiple models inference"
Hi, thanks for repo, it was very useful and I was able to successfuly load model and predict with it. Now i'm looking for a way to predict using several models. Is it possible to load second model using C API and use both of them for prediction?

[2020-06-17 17:53] rounakskm opened #50 "3D input to model returns different output than python"
Hello,
I have a 3D image segmentation model. It takes 4 images at a time as input. input shape is (1,4,256,512,1). Where 1 is batch size 4 is number of images at a time, and image dimensions.
All images are single channel images.

To feed the input data I do the following:

for (int frame = 0; frame < stack.size() - depth + 1; frame++) {
			std::vector<cv::Mat> lumen_images(depth); // 4 images at

[2020-06-26 11:25] svobora opened #51 "What is this actually doing?"
From the code, it seems that it only reads the Graph definition and then runs data through. However, I do not see loading pretrained weights anywhere. Am I mistaken? Is there a place to find code for reading pretrained weights?

[2020-07-05 10:57] Neargye commented on #50
Check https://github.com/Neargye/hello_tf_c_api/issues/2 and https://github.com/Neargye/hello_tf_c_api/pull/44

[2020-07-05 10:59] Neargye commented on #51
In this repo used frozen model. check https://github.com/Neargye/hello_tf_c_api/blob/master/doc/prepare_models.md and https://blog.metaflow.fr/tensorflow-how-to-freeze-a-model-and-serve-it-with-a-python-api-d4f3596b3adc

[2020-07-05 11:00] Neargye commented on #49
Try loading two graphs, and create a separate session for each graph.

[2020-07-06 04:58] svobora commented on #51
Thank you very much, now I get it.

[2020-07-06 04:58] #51 closed

[2020-07-06 11:23] VladislavAD commented on #49
It seams to work but I'm not sure is this stable enough for production. I read that `session.run()` is thread safe, but what if we have multiple sessions? Is it still safe to call inference from different threads or applications? Also another problem is that I can't set `allow_growth` to sessions, just can't find example how to do it using C API. I set memory limit successfuly with help of #21 , b

[2020-07-06 14:27] Neargye commented on #49
Unfortunately, I have not used more than 1 graph.

[2020-07-21 10:22] pauperonway opened #52 "TF_SessionRun with multiple outputs gives Segmentation Fault"
i clone this branch https://github.com/Neargye/hello_tf_c_api/tree/45c94e65fd80dd5715676f29baa15eb7c35f1f82
my model has two output, so modify the tf_image::TF_Model::loadModel().
when i save the infer result that got a Segmentation Fault, but just a output is normal.
i find the same problem at [https://github.com/tensorflow/tensorflow/issues/22670] , i dont know how to resolve it...
Any suggest?

[2020-07-22 01:28] pauperonway commented on #52
@Xonxt need help...

[2020-07-22 08:25] Xonxt commented on #52
@pauperonway could you please give a bit more detail on how you modify the `loadModel()` and what exactly does your model's output look like?

[2020-07-22 08:36] pauperonway commented on #52
now the result is ok.
i modify a few lines like this:(FYI)
bool tf_image::TF_Model::loadModel( const std::string & path, const double gpu_memory_fraction, bool inferIO )
{
  // create an empty status;
  ...

  //get final_binary_output
    std::vector<std::string> outputNames;
    outputNames.clear();
    std::string binary_output_name = "net/final_binary_output";
    name = binary_output_name.c_s

[2020-07-22 08:41] pauperonway commented on #52
@Xonxt the key modify should be data[i]  ---> data[0].

[2020-07-22 08:41] pauperonway commented on #52
@Neargye hope this branch could merge to master.

[2020-07-22 09:47] #52 closed

[2020-08-03 06:17] gitt666 opened #53 "TF_INVALID_ARGUMENT"
TF_GraphImportGraphDef(graph, buffer, opts, status);
  TF_GetCode(status) = 3  (TF_INVALID_ARGUMENT)
  What should i do ?  Thanks.

[2020-08-04 04:54] razr191120 opened #54 "Multiple GPU Inferencing"
Hi @Neargye , I am using the tensorflow gpu libraries that you published. Works like a charm.

My question is, Is there a way that we can run multi gpu inferencing? i have two graphs and two gpus and i want to run each model on a dedicated gpu, simultaneously. Please let me know if there is a way..  thanks

[2020-08-04 09:31] #49 closed

[2020-08-04 09:32] Neargye commented on #53
check https://github.com/Neargye/hello_tf_c_api/blob/master/doc/prepare_models.md

[2020-08-04 09:32] #53 closed

[2020-08-04 09:35] Neargye commented on #48
Unfortunately, I don't know how to configure performance through the API or anything else. For me, performance has always been OK.

[2020-08-04 09:35] #48 closed

[2020-08-07 18:17] ivankrylatskoe commented on #45
Hi! I have the same issue.
But it appears only if the program is run without debugger. Under Visual Studio debugger it works fine.

[2020-08-22 12:53] chenxinhua opened #55 "cmake -G "Unix Makefiles" .. stop"
on MAC, when executing cmake -G "Unix Makefiles" .., it will stop on -- Detecting CXX compile features - done for a long time.

[2020-08-24 09:03] fisakhan commented on #21
Using this API how can I confine the TensorFlow to generate one and only one thread irrespective of the number of cores. Currently it is generating N threads (N = number of cores) by setting intra_op_parallelism_threads = 1 and inter_op_parallelism_threads = 1.

[2020-08-24 09:07] fisakhan opened #56 "Confine TensorFlow C API not to generate more than one threads"
Using this API how can I confine the TensorFlow to generate one and only one thread, irrespective of the number of cores. Currently it is generating N threads (N = number of cores) by setting intra_op_parallelism_threads = 1, inter_op_parallelism_threads = 1 and device_count = 1.

[2020-09-10 09:43] DataEconomy2024 opened #57 "Invitation to the research"
Dear colleagues,

We are a non-profit organization Data Economy, founded by Russian leading companies in ICT and telecommunication industry. We are authorized by the Russian government to represent requests from business communities for the National program “Digital Economy in the Russian Federation”.
At the moment, we are carrying on a local research on Russian open-source projects in AI. First o

[2020-09-14 08:11] razr191120 commented on #49
I have Done it multi model inf concurrently on gpu.

[2020-09-14 15:00] #57 closed

[2020-11-10 10:32] andreaslebherz opened #58 "Import LSTM-Layer: Expected input[1] to be control input"
Hello!

First, thanks for providing this project - it helped me a lot with using the c_api of Tensorflow in my project. One problem I encountered happened when using load_graph.cpp to import a model containing any time-dependent layer (RNN, GRU, LSTM). The program crashes at `TF_SessionRun() `with the follwing contents of the status:

[code]

Do you have any idea what that is supposed to mean? I c

[2020-11-12 11:04] VladislavAD commented on #54
I'm interested in multiple GPU inference too. I found this code:
[code]
to place before `TF_GraphImportGraphDef` and it seems that my two graphs are placed into different GPU's according to nvidia-smi but now I'm having another problems:
1) I'm not sure inference is simultaneous
2) each graph take 4GB of RAM, I think they should go into GPU RAM instead, maybe something isn't deallocated?

[2020-12-02 13:00] #55 closed

[2021-01-25 07:08] qiu-pinggaizi opened #59 "when i load graph the TF_Code is ‘TF_UNKNOWN’ , why?"

[2021-01-25 07:42] qiu-pinggaizi opened #60 "when i load graph the TF_Code is ‘TF_INVALID_ARGUMENT ’ , why?"

[2021-01-28 07:01] #47 closed

[2021-01-28 07:01] #42 closed

[2021-01-28 07:01] #60 closed, assigned to nobody

[2021-01-28 07:01] #59 closed

[2021-01-28 07:02] #45 closed

[2021-01-28 07:02] #50 closed

[2021-01-28 07:03] #54 closed

[2021-01-28 07:03] #56 closed

[2021-01-28 07:03] #58 closed

[2021-01-28 07:04] #43 closed

[2021-01-28 07:46] yangjituan commented on #24
@Neargye Thanks very much, It's  very useful,